body, input, button {
    font-family: 'Bebas Neue', cursive;
}

body {
    background-color:#424242;
    height: 90vh;
}

input {
    background-color: #FAFAFA;
    border: solid 0.5px #FAFAFA;
    border-radius: 5px;
    width: 250px;
    font-size: 20px;
}

h1 {
    font-size: 40px;
    color: #FAFAFA;
    margin: 10px;
}

h2 {
    color: #131313;
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    margin: 10px;
    color: #FAFAFA;
}

.material-icons {
    cursor: pointer;
    float: right;
}

.pageTitle {
    text-align: center;
}

.sectionTitle {
    border-bottom: solid 1px #686868;
    text-align: center;
}
